
.wrapper {

    width: 100%;
    height: 100%;
    min-width: max-content;
    min-height: max-content;
    
    text-align: center;
	position: relative;
}

.banner {
	color: darkblue;
    font-size: 1.2em;
    min-width: max-content;
}

#creditTable, #classTable {
    width: 100%;
    min-width: max-content;

    background-color: lightyellow;
	text-align: center;
    border-collapse: collapse;
    font-size: 1.1em;
}

#creditTableBody tr:first-child, #classTable tbody tr:first-child {
    background-color: burlywood;
    font-size: 1.12em;
    font-weight: 500;        
}

#creditTableBody tr > *, #classTable tbody tr > * {
    padding: 3px 10px;
    user-select: none;
}

#creditTableBody tr:hover {
    color: #009ac7;
    background-color: gainsboro;
}

#creditTableBody tr:first-child:hover {
    color: black;
    background-color: burlywood;    
}

#creditTableBody tr td:first-child, .myCourse td:first-child {
	text-align: left;
    font-weight: 600;
}


#creditTableBody tr td:last-child, .myCourse  td:last-child {
    font-weight: 600;
}

.reqCourse {
	cursor: pointer;
}

#browser > iframe {
	min-width: 500px;
	min-height: 500px;
	border: none;
}

#auditInfo {
	font-size: 1em;
	background-color: aliceblue;
	padding: 10px;
}

#auditRefresh::before {
	content: "\2b6e"; /*unicode - triangle tipped open circle arrow */
}

#auditRefresh {
	position: absolute;
    left: 5px;
    top: 0px;
    font-family: monospace;
    font-weight: bolder;
    transform: rotateZ(0deg);
    font-size: 20px;
    cursor: pointer;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.auditGroup {
    display: grid;
    grid-template-areas: "header header";
    margin: 5px;

}
.auditGroup p {
    margin: 0;
    padding: 0 2.5px;
}

.auditGroupContent > *:first-child {
    text-align: right;
}

.auditGroupContent > *:last-child {
    text-align: left;
}

.auditGroup .auditGroupHeader {
    grid-area: header;
    border-bottom: 1px solid;
}

.auditRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auditRow > p {
	margin: 0;
    padding: 0 2.5px;
}

.auditCol > p {
    margin: 0 5px;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

#categoryHeader {
    display: flex;
    align-items: center;
}

#categoryBackButton::before {
    content: '\1f844';
    font-size: 20px;
    font-weight: bold;
    float: left;
    cursor: pointer;
}

.banner {
    user-select: none;
}

#categoryTitle  {
    background-color: lightblue;
    margin: 0;
    padding: 5px;
    pointer-events: none;
    width: 100%;
    margin-left: -18px;
    z-index: -100;
}
  
.statusNotTaken {
    color: black;
}

.statusInProgress {
    color: #e47d00; /*darker orange than darkorange*/
}

.statusCompleted {
    color: darkgreen;
}


#classSearchButtonDiv button {
    width: -webkit-fill-available;
    padding: 5px;
    margin: 10px;
    background-color: aliceblue;
    border-width: 1px;
    font-size: 1.2em;
}


#classSearchButtonDiv button:hover:not([disabled]) {
    background-color: lightblue;
}

#classSearchButtonDiv button:active:not([disabled]) {
    color: aliceblue;
    background-color: cadetblue;
}