
.wrapper {
	width: max-content;
    height: max-content;
    text-align: center;
}

.banner {
	color: darkblue;
    font-size: 1.5em;
    min-width: max-content;
}

#creditTable {
	text-align: center;
}

#creditTable tr > * {
    padding: 0 5px;
}

#creditTable tr td:first-child {
	text-align: left;
}

.reqCourse {
	cursor: pointer;
}

#browser > iframe {
	min-width: 500px;
	min-height: 500px;
}

#auditInfo {
	font-size: 1em;
	background-color: aliceblue;
}

.auditRow {
	display: flex;
    place-content: center;
}

.auditRow p {
	margin: 0;
    padding: 0 2.5px;
}

.auditCol p {
    margin: 0 5px;
}